<h1 style="display:inline">Secrets </h1>
<form style="display:inline; margin-left:15px" action="/users/<%=current_user.id%>" method="get">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="submit" value="User Homepage">
</form>
<div style="margin-top:20px">
    <% @secrets.all.each do |secret| %>
        <h4 style="display:inline"><%= secret.content %></h4>
        <% if secret.user == current_user %>
            <form style="display:inline" action = "/secrets/<%= secret.id %>" method = "post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="hidden" name="_method" value="delete">
                <input type = 'submit' value = "Delete Secret">
            </form>
        <% end %>
        <h4><%= secret.likes.count %> likes</h4>
    <% end %>
</div>