<h1 style="display:inline">Secrets </h1>
<form style="display:inline; margin-left:15px" action="/users/<%=current_user.id%>" method="get">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="submit" value="User Homepage">
</form>
<div style="margin-top:20px">
    <% @secrets.all.each do |secret| %>
        <fieldset>
            <div style="margin-top:20px">
                <h4 style="display:inline"><%= secret.content %></h4>
                <% if secret.user == current_user %>
                    <form style="display:inline" action = "/secrets/<%= secret.id %>" method = "post">
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                        <input type="hidden" name="_method" value="delete">
                        <input type = 'submit' value = "Delete Secret">
                    </form>
                <% end %>
            </div>
            <div style="margin-top:20px">
                <h4 style="display:inline"><%= secret.likes.count %> likes</h4>
                <% unless secret.users.include?(current_user) %>
                    <form style="display:inline" action = "/likes" method = "post">
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                        <input type="hidden" name="like[secret_id]" value = "<%= secret.id %>">
                        <input type="submit" name="Like" value = "Like">			
                    </form>	
                <% else %>
                    <form style="display:inline" action = "/likes/<%= Like.where(user: current_user, secret: secret).first.id%>" method = "post">
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                        <input type="hidden" name="_method" value="delete">
                        <input type="submit" name="Unlike" value = "Unlike">
                    </form>
                <% end %>
            </div>
        </fieldset>
    <% end %>
</div>