<p><%= link_to "Go to All Products", products_path %> | <%= link_to "Logout", session_path, :method => "delete" %></p>
<h2>Hi, <%= @user.first_name %>!</h2>
<div>
    <h4>Sell Product:</h4>
    <form action="/products" method="post">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <label  style="display:block;" for="name">Name: <input type="text" name="product[name]"></label>
        <label  style="display:block;" for="amount">Amount: <input type="number" step='0.01' placeholder = "$0.00"name="product[amount]"></label>
        <input type="submit" value="Sell">
    </form>
</div>
<div>
    <fieldset style="width:500px">
        <h4>Your products that are not yet sold:</h4>
        <% if @count1 == 0 %>
            <h3>You do not yet have any products for sale.</h3>
        <% else %>
            <table>
                <tr>
                    <th>Product</th>
                    <th>Date Posted</th>
                    <th>Amount</th>
                    <th>Action</th>
                </tr>
        <% end %>
            <% @products.all.each do |product| %>
                <tr>
                    <td><%= product.name %></td>
                    <td><%= product.created_at.strftime("%b %d, %Y") %></td>
                    <td>$<%= product.amount %></td>
                    <td><%= link_to "Remove", "/products/#{product.id}/destroy" %></td>
                </tr>
            <% end %>
        </table>
    </fieldset>
</div>
<div>
    <fieldset style="width:500px">
        <h4>Sales:</h4>
        <% if @count2 == 0 %>
            <h3>You do not yet have any sales.</h3>
        <% else %>
            <table>
                <tr>
                    <th>Product</th>
                    <th>Date Bought</th>
                    <th>Buyer</th>
                    <th>Amount</th>
                </tr>
        <% end %>
            <% @sales.all.each do |sale| %>
                <tr>
                    <td><%= sale.name %></td>
                    <td><%= sale.created_at.strftime("%b %d, %Y") %></td>
                    <td><%= sale.buyer %></td>
                    <td>$<%= sale.amount %></td>
                </tr>
            <% end %>
        </table>
        <h4>Total sales: $<%= @total_s %></h4>
    </fieldset>
</div>
<div>
    <fieldset style="width:500px">
        <h4>Purchases:</h4>
        <% if @count3 == 0 %>
            <h3>You do not yet have any purchases.</h3>
        <% else %>
            <table>
                <tr>
                    <th>Product</th>
                    <th>Date Bought</th>
                    <th>Seller</th>
                    <th>Amount</th>
                </tr>
        <% end %>
            <% @purchases.all.each do |purchase| %>
                <tr>
                    <td><%= purchase.name %></td>
                    <td><%= purchase.created_at.strftime("%b %d, %Y") %></td>
                    <td><%= purchase.seller %></td>
                    <td>$<%= purchase.amount %></td>
                </tr>
            <% end %>
        </table>
        <h4>Total purchases: $<%= @total_p %></h4>
    </fieldset>
</div>