<body>
    <p><%= link_to "Events Dashboard", user_path(@user) %> | <%= link_to "Logout", root_path %> </p>
    <h4>Edit Your Profile:</h4>
    <form action="/users/<%= @user.id %>" method="post">
        <input type="hidden" name="_method" value="patch">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <label style="display:block;" for="first_name">First Name: <input type="text" name="user[first_name]" value="<%= @user.first_name %>"></label>
        <label style="display:block;" for="last_name">Last Name: <input type="text" name="user[last_name]" value="<%= @user.last_name %>"></label>
        <label style="display:block;" for="email">Email Address: <input type="text" name="user[email]" value="<%= @user.email %>"></label>
        <label style="display:inline;" for="location">City: <input type="text" name="user[location]" value="<%= @user.location %>"></label>
        <label style="display:inline;" for="state">State: <select name="user[state]">
            <option selected value="<%= @user.state %>"><%= @user.state %></option>
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District Of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
        </select>
        <label  style="display:block;" for="password">Password: <input type="password" name="user[password]"></label>
        <label  style="display:block;" for="confirm_password">Confirm Password: <input type="password" name="user[password_confirmation]"></label>
        <input style="display:block;" type="submit" value="Update Records">
    </form>
    <form action = "/users/<%= @user.id %>" method = "post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">
        <input style="background-color:red; margin-top:20px; height:30px" type = 'submit' value = "Delete Account">
    </form>
</body>